<form action="#">
    <input type="text" placeholder="email" name="email" value="{{email}}" />
    <input type="text" placeholder="name" name="name" value="{{name}}" />
    <input type="text" placeholder="password" name="password" value="{{password}}"  />
    <input type="text" placeholder="phone" name="phone" value="{{phone}}"  />
    <input type="text" placeholder="subscription" name="subscription" value="{{subscription}}"  />
    <input type="hidden" name="id" value={{id}} />

    <button data-action="{{action}}" type="button">send</button>
</form>