<tr data-id="{{_id}}">
    <td>{{email}}</td>
    <td>{{name}}</td>
    <td>{{password}}</td>
    <td>{{phone}}</td>
    <td>{{subscription}}</td>
    <td>
        <button data-action="edit" type="button">E</button>
        <button data-action="delete" type="button">D</button>
    </td>
</tr>